
@font-face {
    font-family: 'pokemon_gbregular';
    src: url('../fonts/pokemon_gb-webfont.woff2') format('woff2'),
         url('../fonts/pokemon_gb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 
h1 {
    margin-top: 15px;
	font-size: 24px;
}	

img {
	margin: 10px 20px;
}

body {
    background: url('../images/pokeballBG.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    font-family: 'pokemon_gbregular', Ariel, sans-serif;
    font-size: 14px;
}

.button-primary {
    align-self: center;
    margin-top: 10px;
}
.battleRow {
    margin-top: 40px;
}
.battleMsg {
    font-size: 10px;
    background-color: 4b0082;
    text-align: center;
}

.userPokemon{
    align: center;
}

.hp, .enemyHP {
    background-color: black;
    text-align: center;
}

.pokemon {
    width:120px;
    margin: 15px 15px;
}

#pikachuHealth, #squirtleHealth, #charmanderHealth, #bulbasaurHealth {
    background-color: black;
    padding: 0 auto;
}


.pikachu, .squirtle, .charmander, .bulbasaur {
    display: inline-block;
}

.enemies {
    padding: 10px 10px;
}